<template>
    <div>
        <div class="top-right links" v-if="user !== false">
            <router-link to="/add-invite" v-if="user === 1 ">Создать инвайт</router-link>
            <router-link to="/invites">Созданные инвайты</router-link>
        </div>
        <div class="top-right links" v-else>
            <router-link to="/login">Войти</router-link>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <p><span class="create" style="color: #2b542c; display:none"> Создано</span></p>
                        <p><input v-validate="'required'" v-model="username" type="text" placeholder="Имя пользователя"
                                  name="username" required></p>
                        <span v-show="errors.has('username')" style="color:red;">{{ errors.first('username') }}</span>
                        <p><input v-validate="'required|email'" v-model="email" type="email" name="email"
                                  placeholder="Почтовый ящик пользователя" required></p>
                        <span v-show="errors.has('email')" style="color:red;">{{ errors.first('email') }}</span>
                        <p><select v-validate="'required'" v-model="selected" name="select" class="styled-select slate">
                            <option disabled value="">Выберите должность</option>
                            <option value="1">Администратор</option>
                            <option value="2">Модератор</option>
                        </select></p>
                        <span v-show="errors.has('select')" style="color:red;">{{ errors.first('select') }}</span>
                        <p>
                            <button class="btn btn-success" v-on:click="addNew()"> Создать</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                username: '',
                email: '',
                selected: '',
                user: '',
            }
        },
        mounted() {
            axios.post('check')
                .then((response) => {
                    this.user = response.data;
                    if (this.user === false) {
                        this.$router.push({path: '/login'});
                    }
                }).catch((error) => {
                console.error(error);
            });
        },
        methods: {
            addNew() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        return false;
                    }
                });
                axios.post('add/user', {
                    username: this.username,
                    email: this.email,
                    group: this.selected

                })
                    .then((response) => {
                        if (response.data != "") {
                            $('.create').css('display', 'block');
                            $('.create').fadeOut("slow");
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        }
    }
</script>
