<template>
    <div>
        <div class="top-right links" v-if="user !== false">
            <router-link to="/add-invite" v-if="user === 1 ">Создать инвайт</router-link>
            <router-link to="/invites">Созданные инвайты</router-link>
        </div>
        <div class="top-right links" v-else>
            <router-link to="/login">Войти</router-link>
        </div>
        <div class="container-fluid bg-3 text-center">
            <h3>Welcome To The Invites Application</h3><br>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                user: '',
            }
        },
        mounted() {
            axios.post('check')
                .then((response) => {
                    this.user = response.data;
                }).catch((error) => {
                console.error(error);
            });
        }
    }

</script>