<template>
    <div>
        <div class="top-right links" v-if="user !== false">
            <router-link to="/add-invite" v-if="user === 1 ">Создать инвайт</router-link>
            <router-link to="/invites">Созданные инвайты</router-link>
        </div>
        <div class="top-right links" v-else>
            <router-link to="/login">Войти</router-link>
        </div>
        <div class="container-fluid bg-3 text-center">
            <h3>Приглашонные пользователи</h3><br>
            <div class="row">
                <div class="col-sm-3" v-for=" item in users">
                    <div class="panel panel-default" style="height:180px">
                        <p>{{item.username}}</p>
                        <p>{{item.email}}</p>
                        <p v-if="item.group ===1">Администратор</p>
                        <p v-else-if="item.group ===2">Модератор</p>
                        <p v-if="item.active ===0">
                            <button class="btn btn-danger" v-on:click="deleteUser(item)"> Удалить </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    export default{
        data(){
            return {
                users: [],
                user: '',
            }
        },
        mounted(){
            axios.post('all')
                .then((response) => {
                    this.users = response.data;
                }).catch((error) => {
                console.error(error);
            });
            axios.post('check')
                .then((response) => {
                    this.user = response.data;
                    if (this.user === false) {
                        this.$router.push({path: '/login'});
                    }
                }).catch((error) => {
                console.error(error);
            });
        },
        methods: {
            deleteUser(item){
                axios.post('delete', {
                    id: item.id
                }).then((response) => {
                    this.users.splice(this.users.indexOf(item), 1);
                }).catch((error) => {
                    console.error(error);
                });
            }
        }
    }

</script>