<template>
    <div>
        <div class="top-right links" v-if="user !== false">
            <router-link to="/add-invite" v-if="user === 1 ">Создать инвайт</router-link>
            <router-link to="/invites">Созданные инвайты</router-link>
        </div>
        <div class="top-right links" v-else>
            <router-link to="/login">Войти</router-link>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <p><span class="create"
                                 style="color: #761c19; display:none"> Неправельный имел или пароль</span>
                        </p>
                        <p><input v-validate="'required|email'" v-model="email" type="email" name="email"
                                  placeholder="Почтовый ящик пользователя" required></p>
                        <span v-show="errors.has('email')" style="color:red;">{{ errors.first('email') }}</span>
                        <p><input v-validate="'required|min:4'" name="password" v-model="password" type="password"
                                  class="form-control"
                                  placeholder="Пароль"></p>
                        <span v-show="errors.has('password')" style="color:red;">{{ errors.first('password') }}</span>
                        <p>
                            <button class="btn btn-success" v-on:click="login()"> Войти</button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                email: '',
                password: '',
                user: '',
            }
        },
        mounted() {
            axios.post('check')
                .then((response) => {
                    this.user = response.data;
                }).catch((error) => {
                console.error(error);
            });
        },
        methods: {
            login() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        return false;
                    }
                });
                axios.post('login/user', {
                    email: this.email,
                    password: this.password

                })
                    .then((response) => {
                        if (response.data === "false") {
                            $('.create').css('display', 'block');
                            $('.create').fadeOut(5000);
                        }
                        this.$router.push({path: '/'});
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        }
    }
</script>