<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <p><input v-validate="'required|min:4'" name="password" v-model="password" type="password"
                              class="form-control"
                              placeholder="Пароль"></p>

                    <p><input v-validate="'required|confirmed:password'" name="password_confirmation" type="password"
                              class="form-control" placeholder="Подтвердите пароль" data-vv-as="password"></p>
                    <div class="alert alert-danger" v-show="errors.any()">
                        <div v-if="errors.has('password')">
                            {{ errors.first('password') }}


                        </div>
                        <div v-if="errors.has('password_confirmation')">
                            {{ errors.first('password_confirmation') }}


                        </div>
                    </div>
                    <p>
                        <button class="btn btn-primary" v-on:click="registerUser()"> Зарегестрироваться</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                password: '',

            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            registerUser() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        return false;
                    }
                });
                axios.post('register/user', {
                    password: this.password,
                    id: this.$route.params.id,

                })
                    .then((response) => {
                        if (response.data !== '') {
                            this.$router.push({path: '/'});
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        }
    }
</script>